{% extends "__layout.html" %} {% block content %}
<div class="mb20"></div>
<div class="container typography">
    <h1>Торговый Дом &laquo;Элегия&raquo;&nbsp;-&nbsp;подвесные потолки оптом.</h1>
    <img src="/uploads/373a354fb040eab84a8c0886724fba.jpg" class="img" alt="">
    <p><strong><br />Торговый Дом &laquo;Элегия&raquo;</strong> существует на строительном рынке с ноября 2003 года. За это время компания успела зарекомендовать себя как надежный партнер и достойный конкурент.&nbsp;</p>
    <p>Для достижения оптимального соотношения &laquo;цена-качество&raquo; мы тщательно выбираем производителей и работаем исключительно с продукцией высокого качества. Мы отслеживаем все новейшие тенденции в сфере дизайна и технологий производства. </p>
    <p>Компания ООО &laquo;Элегия&raquo; является импортером потолочной плиты под своей торговой маркой&nbsp;"Элегия" серия эконом.</p>
    <p>Торговый Дом &laquo;Элегия&raquo; является официальным дистрибьютором&nbsp;&laquo;Петушинского Металлического Завода&raquo; (ПМЗ)&nbsp;&ndash; лидером российской промышленности в производстве светильников и потолочных систем, что позволяет нам в кратчайшие сроки без посредников осуществлять поставки товара, представленного заводом,&nbsp;на склад в Санкт-Петербурге. </p>
    <div>
        <p>Если&nbsp;потолочные системы&nbsp;&ndash; это сфера Ваших профессиональных интересов или Вы никак не можете определиться, как оформить Ваш &laquo;небесный свод&raquo;, обратитесь к нашим специалистам! Вместе мы подберем оптимальное решение Вашей дизайнерской задумки, и в кратчайшие сроки Вы получите идеальный для Вас потолок.</p>
        <p><strong><em>Фирма ООО &laquo;Элегия&raquo; предлагает самое лучшее из мира подвесных потолков:</em></strong></p>
        <ul>
            <li>Подвесные реечные потолки (Bard, Luxalon, USA CG, ЛюмСвет и др.);</li>
            <li>Натяжные потолки (производства России, Франции, Бельгии и т.д.);</li>
            <li>Грильято (ЛюмСвет);</li>
            <li>Модульные подвесные потолки (Armstrong, ЛюмСвет, Donn и т.д.);</li>
            <li>Декоративное и техническое освещение;</li>
            <li>Растровые светильники</li>
            <li>Квалифицированный монтаж всех потолков, вне зависимости от объема;</li>
        </ul>
        <p>Специалисты ТД Элегия разработают дизайн и найдут лучшие решения в создании уюта и комфорта Вашего дома в соответствии с пожеланиями. Компания Торговый дом Элегия:</p>
        <ul>
            <li>Осуществляет квалифицированный монтаж любых потолочных систем</li>
            <li>Осуществляет доставку со склада до конечного клиента</li>
            <li>Поддерживает в наличии на складе в Санкт-Петербурге ассортимент потолков "Грильято", модульных светильников, потолочных систем Т-24 и Т-15, потолочной плиты 600*600 "Элегия серии эконом</li>
            <li>В кротчайшие сроки изготовляет реечные подвесные потолки размер помещения</li>
            <li>Производит продажу и установку натяжных потолков ведущих фирм и производителей.</li>
        </ul>
    </div>
</div>
{% include "__blocks/__calline.html" %} {% endblock %}
