{% extends "__layout.html" %}
{%- set gallery = [
{
	name: "Подвесные потолки Грильято",
	text: "«Грильято» или растровые потолки - эти изящные конструкции эффектно выглядят как в жилом, так и в общественном помещении. Они открывают перед дизайнерами неограниченную свободу в реализации творческих замыслов, так как можно играть базой, монтировать конструкцию с разным шагом, что значительно расширяет их декоративные свойства.",
	count: 80,
	img: "e2803a86649d40c5acf3e34907889a6e.jpg"
},
{
	name: "Подвесные реечные потолки",
	text: "Фотогалерея подвесных потолков Здесь Вы найдете различные варианты организации пространства в гостиной, кухне, коридоре или ванной комнате.&nbsp; Реечный подвесной потолок представляет собой универсальную, простую в монтаже конструкцию, которая изготавливается из алюминиевых панелей, крепящихся на специальном несущем профиле. К плюсам реечных потолков можно отнести то, что панели могут легко демонтироваться и заменяться без использования специальных инструментов, не требуя специальной подготовки и большого опыта. Благодаря легкости при установке и демонтаже, вы всегда имеете доступ к межпотолочному пространству.",
	count: 129,
	img: "8dc0fcbbd0f7429ebb7aba4928424ef1.jpg"
},
{
	name: "Натяжные потолки",
	text: "Натяжные потолки не реагируют на резкие перепады температур, поверхность не боится ударов и легко моется. Несмотря на то, что пленочные натяжные потолки изготавливаются из пластика, они абсолютно не токсичны и являются экологически чистым продуктом. Такие потолки не плавятся, не горят, обладают высокими показателями пожаробезопасности. Натяжные потолки монтируются в помещениях любой конфигурации. Они устанавливаются под любыми углами, в горизонтальных и даже вертикальных плоскостях",
	count: 30,
	img: "f5276317a27d4162bef707e1d89d0726.jpg"
},
{
	name: "Подвесные потолки Армстронг",
	text: "Современные подвесные потолки Армстронг обладают практичностью и эстетичным внешним видом. Данный вид потолков быстро устанавливаются, не трескаются, не выгорают",
	count: 14,
	img: "armstrong-2013-11-14-393.jpg"
}
] -%}
{% block content %}

<div class="container"><div class="page-title">Галлерея</div></div>

<div class="container">
	<ul class="gallery-list">
	{%- for item in gallery %}
		<li class="gallery-list__item">
			<a href="/gallery" class="gallery-list__link">
				<div class="gallery-list__img-box">
					<img  class="gallery-list__img" src="/uploads/{{ item.img }}" alt="">
				</div>
				<div class="gallery-list__title">{{ item.name|safe }}</div>
				<div class="gallery-list__count"><i class="fa fa-camera"></i>&nbsp;{{ item.count }} фото</div>
			</a>
			<div class="gallery-list__content">{{ item.text|safe }}</div>
		</li>
	{% endfor -%}
		
	</ul>
</div>

{% include "__blocks/__calline.html" %}
{% endblock %}