{% extends "__layout.html" %}
{% block content %}
<div class="bradcrumbs">
	<a href="/" class="bradcrumbs__item">Потолки</a><a href="/" class="bradcrumbs__item">Грильято</a>
</div>
<div class="container">
	<h1 class="page-title">Грильято 200х200х30, цвет белый</h1>
</div>

<div class="container">
	<div class="slider slider--nomb j-slider">
		<div class="slider__item">
			<div class="slider__img">
				<img src="/uploads/d885ddbbfa47f199644acd83c3ded5.png" alt="">
			</div>	
		</div>
		<div class="slider__item">
			<div class="slider__img">
				<img src="/uploads/d885ddbbfa47f199644acd83c3ded5.png" alt="">
			</div>	
		</div>
		<div class="slider__item">
			<div class="slider__img">
				<img src="/uploads/d885ddbbfa47f199644acd83c3ded5.png" alt="">
			</div>	
		</div>
	</div>

	<div class="buyer-block mb20">

		<ul class="buyer-block__props">
			<li class="buyer-block__props-item">Код товара: 1112233332322</li>
			<li class="buyer-block__props-item buyer-block__props-item--price">Розн: 262.00 руб</li>
			<li class="buyer-block__props-item">Наличие: под заказ</li>
		</ul>
		
		<div class="buyer-block__form">
			<div class="buyer-block__form-col buyer-block__form-col--left">
				<div class="buyer-counter">
					<a class="buyer-counter__btn buyer-counter__btn--countup" href="#">-</a>
					<input type="text" value="1" class="buyer-counter__input">
					<a class="buyer-counter__btn buyer-counter__btn--countdown" href="#">+</a>
				</div>
			</div>
			<div class="buyer-block__form-col buyer-block__form-col--right">
				<a href="#" class="btn btn--block buyer-counter__control">Добавить в корзину</a>
			</div>
		</div>
	</div>
	<div class="mb20 typography">
		<h2>Характеристики.</h2>
		<p>Решетку Грильято 200х200 часто используют в декоративных целях, так как степень прозрачности у нее максимальная — до 93%.</p>
		<p><span>Цена указана за 1 кв.м.</span></p>
	</div>

	<div class="mb20 typography">
		<p>Грильято - потолки современности. Минималистичный стиль со строгой геометрией подойдет любому интерьеру. Помимо внешних преимуществ потолки грильято практичны. Вы всегда имеете доступ ко всем коммуникациям. Грильято используется в торговых помещениях, магазинах, бутиках, автосалонах, в административных помещениях, реже в жилых помещениях.</p>

		<p>Помимо продажи подвесных потолков мы занимаемся качественным&nbsp;<a href="/montazh-potolkov/montazh-grilyato/"> монтажом потолков грильято</a>.&nbsp;</p>

		<p>&nbsp;</p>

		<p><a href="/catalog/51/">Другие типы Грильято и Акции</a></p>

		<h2>Процент прозрачности Грильято:</h2>
		
		<div class="table-wrapper">
		<table>
			<tbody>
				<tr>
					<th>Ширина<br>
					профиля,мм</th>
					<th>30x30</th>
					<th>50x50</th>
					<th>60x60</th>
					<th>75x75</th>
					<th>86x86</th>
					<th>100x100</th>
					<th>120x120</th>
					<th>150x150</th>
					<th>200x200</th>
				</tr>
				<tr>
					<td>10</td>
					<td>47%</td>
					<td>67%</td>
					<td>72%</td>
					<td>77%</td>
					<td>81%</td>
					<td>84%</td>
					<td>87%</td>
					<td>90%</td>
					<td>93%</td>
				</tr>
				<tr>
					<td>5</td>
					<td>71%</td>
					<td>83%</td>
					<td>86%</td>
					<td>89%</td>
					<td>90%</td>
					<td>92%</td>
					<td>93%</td>
					<td>95%</td>
					<td>97%</td>
				</tr>
			</tbody>
		</table>
		</div>

		<p>&nbsp;</p>

		<h3>Расчет элементов системы на 1м<sup>2</sup></h3>
		<div class="table-wrapper">
		<table>
			<tbody>
				<tr>
					<th>Наименование</th>
					<th>Ед. изм.</th>
					<th>40x40</th>
					<th>50x50</th>
					<th>86x86</th>
					<th>75x75</th>
					<th>60x60</th>
					<th>100x100</th>
					<th>120x120</th>
					<th>150x150</th>
					<th>200x200</th>
				</tr>
				<tr>
					<td>Несущая С180</td>
					<td>пог. м</td>
					<td>1,68</td>
					<td>1,68</td>
					<td>0,84</td>
					<td>0,84</td>
					<td>1,68</td>
					<td>0,84</td>
					<td>0,84</td>
					<td>0,84</td>
					<td>0,84</td>
				</tr>
				<tr >
					<td>Несущая С120</td>
					<td>пог. м</td>
					<td>-</td>
					<td>-</td>
					<td>1,68</td>
					<td>1,68</td>
					<td>-</td>
					<td>1,68</td>
					<td>1,68</td>
					<td>1,68</td>
					<td>1,68</td>
				</tr>
				<tr>
					<td>Несущая С60</td>
					<td>пог. м</td>
					<td>1,68</td>
					<td>1,68</td>
					<td>0,84</td>
					<td>0,84</td>
					<td>1,68</td>
					<td>0,84</td>
					<td>0,84</td>
					<td>0,84</td>
					<td>0,84</td>
				</tr>
				<tr>
					<td>"Папа"</td>
					<td>пог. м</td>
					<td>23,33</td>
					<td>18,33</td>
					<td>10</td>
					<td>11,67</td>
					<td>15</td>
					<td>8,33</td>
					<td>6,67</td>
					<td>5</td>
					<td>3,33</td>
				</tr>
				<tr>
					<td>"Мама"</td>
					<td>пог. м</td>
					<td>23,33</td>
					<td>18,33</td>
					<td>10</td>
					<td>11,67</td>
					<td>15</td>
					<td>8,33</td>
					<td>6,67</td>
					<td>5</td>
					<td>3,33</td>
				</tr>
				<tr >
					<td>Соединительный<br>
					элемент</td>
					<td>шт.</td>
					<td>0,56</td>
					<td>0,56</td>
					<td>0,28</td>
					<td>0,28</td>
					<td>0,56</td>
					<td>0,28</td>
					<td>0,28</td>
					<td>0,28</td>
					<td>0,28</td>
				</tr>
				<tr>
					<td>Подвес</td>
					<td>шт.</td>
					<td>1,8</td>
					<td>1,8</td>
					<td>0,9</td>
					<td>0,9</td>
					<td>1,8</td>
					<td>0,9</td>
					<td>0,9</td>
					<td>0,9</td>
					<td>0,9</td>
				</tr>
			</tbody>
		</table>
		</div>

		<p>&nbsp;</p>

		<h3>Состав решетки грильято:</h3>
		<div class="table-wrapper">
		<table>
			<tbody>
				<tr>
					<th>Размер ячейки, мм</th>
					<th>"Папа",шт</th>
					<th>"Мама",шт</th>
					<th>Кол-во пластин в<br>
					решетке,шт</th>
				</tr>
				<tr>
					<td>40x40</td>
					<td>14</td>
					<td>14</td>
					<td>28</td>
				</tr>
				<tr>
					<td>50x50</td>
					<td>11</td>
					<td>11</td>
					<td>22</td>
				</tr>
				<tr>
					<td>60x60</td>
					<td>9</td>
					<td>9</td>
					<td>18</td>
				</tr>
				<tr>
					<td>75x75</td>
					<td>7</td>
					<td>7</td>
					<td>14</td>
				</tr>
				<tr>
					<td>86x86</td>
					<td>6</td>
					<td>6</td>
					<td>12</td>
				</tr>
				<tr>
					<td>100x100</td>
					<td>5</td>
					<td>5</td>
					<td>10</td>
				</tr>
				<tr>
					<td>120x120</td>
					<td>4</td>
					<td>4</td>
					<td>8</td>
				</tr>
				<tr>
					<td>150x150</td>
					<td>3</td>
					<td>3</td>
					<td>6</td>
				</tr>
				<tr>
					<td>200x200</td>
					<td>2</td>
					<td>2</td>
					<td>4</td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>


</div>

{% endblock %}