{% extends "__layout.html" %}
{% block content %}
<div class="bradcrumbs">
	<a href="services" class="bradcrumbs__item">Услуги</a><span class="bradcrumbs__item">Окраска</span>
</div>


<div class="container typography">
	<h2>Окраска подвесного потолка грильято.</h2>
	<p>Грильято - красивый и яркий потолок, но Вы можете сделать его еще более необычным. Мы&nbsp;покрасим его в любой цвет RAL по минимальной цене. Можно осуществить даже самые смелые желания,&nbsp;комбинируйте и эксперементируйте, подберите идеальное цветовое сочетание, правильно выбранный цветовой оттенок придаст интерьеру неповторимый законченный вид. Покраска осуществляется методом порошково-полимерного напыления в течени 1-2 дней.</p>
	<h3>Варианты цветовых решений RAL:</h3>
	<p>Заводской цвет&nbsp;подвесного&nbsp;потолка Грильято:</p>
	<ul>
		<li>белый</li>
		<li>серебристый</li>
		<li>аллюминий матовый</li>
		<li>черный</li>
	</ul>
	<p>Человеческий глаз способен различить несколько миллионов цветовых оттенков. Шкала RAL Classic включает в себя несколько тысяч образцов. Стандартная цветовая коллекция RAL - это 213 цветов, в том числе 17 металликов.<br>
	Разработали цвета RAL в Германии для лакокрасочной продукции. Государственный комитет&nbsp;по условиям поставок установил стандарт на цветовое пространство разделив его на диапазоны и обозначив каждый цвет однозначным цифровым индексом. Разработанная универсальная система выбора цветов востребована практически во всех отраслях, где нужно правильное понимание цвета. Сегодня стандарт RAL включает в себя несколько тысяч цветов и оттенков. В настоящей таблице &nbsp;приведены лишь наиболее часто используемые цвета.</p>
	<p>
		<img src="/images/40510495764361b16a8a4b807928b0.JPG" alt="">
	</p>

	<p>
		<img src="/images/aaa45fc2cf4de8848b700a4c5a785f.JPG" alt="">
	</p>
</div>

{% include "__blocks/__calline.html" %}
{% endblock %}