{% extends "__layout.html" %}
{% block content %}
<div class="bradcrumbs">
	<a href="services" class="bradcrumbs__item">Услуги</a><span class="bradcrumbs__item">Монтаж потолков</span>
</div>
<div class="container">
	<div class="sub-category">
		<div class="sub-category__img-placeholder">
			<img src="/images/mount.jpg" class="sub-category__img" alt="">
		</div>
		<a href="/services_mount_grilliato" class="sub-category__link"> <span class="sub-category__lead">Монтаж потолка Грильято</span> 360,00 руб/м2 <i class="fa fa-chevron-right"></i></a>
	</div>

	<div class="sub-category">
		<div class="sub-category__img-placeholder">
			<img src="/images/mount2.jpg" class="sub-category__img" alt="">
		</div>
		<a href="services_mount_rails" class="sub-category__link"><span class="sub-category__lead">Монтаж потолка Реечного</span> 310,00 руб/м2<i class="fa fa-chevron-right"></i></a>
	</div>

	<div class="sub-category">
		<div class="sub-category__img-placeholder">
			<img src="/images/mount3.jpg" class="sub-category__img" alt="">
		</div>
		<a href="services_mount_armstrong" class="sub-category__link"><span class="sub-category__lead">Монтаж потолка Армстронг</span> 275,00 руб/м2<i class="fa fa-chevron-right"></i></a>
	</div>
</div>

<div class="container typography">
	<h1>Монтаж подвесных потолков по низким ценам</h1>
	<p>Спецпредложение: Вызов мастера, замер и составление сметы - БЕСПЛАТНО!</p>
	<p>Сделать заказ  на монтаж подвесного потолка Вы cможете ежедневно , по телефону (812) 495-44-99 - Cанкт-Петербург,  (495) 268-12-78 - Москва . Самые квалифицированные сотрудники помогут Вам найти лучший вариант потолков и светильников для Вашего помещения, будь то квартира, школа, склад, ресторан, офис. Мы произведем БЕСПЛАТНЫЙ замер помещения, и произведем высококачественный монтаж потолка любой сложности в самые короткие сроки. Товары ТД "Элегия"  и установка подвесного потолка доступны для любого жителя Санкт-Петербурга и Москвы. Наши мастера выполнят монтаж подвесного потолка быстро и по умеренным ценам. Всю работу  по  монтажу подвесного потока выполняют опытные специалисты с многолетним стажем проведения ремонтных работ.</p>
</div>

{% include "__blocks/__calline.html" %}
{% endblock %}