{% extends "__layout.html" %}
{% block content %}
<div class="bradcrumbs">
	<a href="services" class="bradcrumbs__item">Услуги</a><span class="bradcrumbs__item">Монтаж потолков</span>
</div>

<div class="container typography">
	<img src="/images/gri2.jpg" alt="" class="img">
	<div class="well">
		<p>Наша компания осуществляет монтаж подвесных потолков Грильято. Для того, чтобы узнать стоимость монтажа Грильято, обращайтесь к нашим менеджерам по телефонам офисов, указанным на сайте. </p>
	</div>
	<h1>Монтаж потолков Грильято: стоимость от 360 руб/м<sup>2</sup></h1>

	<p>Компания Торговый Дом “Элегия” готова выполнить для Вас полный комплекс работ по проектированию и монтажу подвесных потолков Грильято недорого, качественно и всегда в срок!</p>

	<p>У нас Вы можете заказать установку подвесного потолка Грильято!<br>
	При заказе монтажа потолка грильято <strong>от 300 м<sup>2</sup>&nbsp; - &nbsp;цена&nbsp;всего&nbsp;360руб. м<sup>2&nbsp;</sup>!</strong></p>

	<p>Наша монтажная бригада – это команда настоящих профессионалов своего дела! Мы всегда работаем, в строгом соответствии с высочайшими стандартами качества, каждый шаг отточен и тщательно проработан за более чем десятилетнюю историю компании. Наши сотрудники всегда готовы пойти навстречу клиенту и удовлетворить все его требования, а наши заказчики никогда не уходят недовольными!&nbsp;</p>

	<p>Кроме того, компания “Элегия” готова оказать помощь в комплексном ремонте административных, коммерческих, производственных и любых других типов нежилых помещений. С информацией по комплексному ремонту вы можете ознакомиться в разделе “ремонтные работы”.</p>

	<p>Чтобы узнать стоимость работ и заказать у нас установку подвесного потолка, просто напишите нам прямо с сайта, нажав на кнопку “задать вопрос” вверху слева или обратитесь по телефонам, указанным ниже – наши менеджеры с удовольствием ответят на все интересующие Вас вопросы:</p>

	<ul>
		<li>(812) 495-44-99 если Вы находитесь в Санкт-Петербурге, или</li>
		<li>(495) 268-12-78 если Вы находитесь в Москве.</li>
	</ul>

	<p>&nbsp;</p>
</div>

{% include "__blocks/__calline.html" %}
{% endblock %}