{% extends "__layout.html" %}
{% block content %}
<div class="bradcrumbs">
	<a href="services" class="bradcrumbs__item">Услуги</a><span class="bradcrumbs__item">Монтаж потолков</span>
</div>

<div class="container typography">
	<h1>Монтаж&nbsp;потолка Армстронг</h1>
	<p>Наша компания производит высококачественный монтаж подвесного потолка Армстронг любой сложности к кратчайшие сроки. У нас низкие цены и самые квалифицированные сотрудники.</p>
	<p>Подвесная система Т-профиль удобна и комфортна в монтаже. Поперечные профили имеют в своей конструкции на концах замок, при соединении с несущими профили обеспечивают надежное крепление.</p>
	<p>
		<img alt="" class="img" src="/uploads/7e598f37424a39afa8cfa51b6a8c06.jpg">
		<img alt="" class="img" src="/uploads/f46e3be4794b04b0d7e076b7bacfb3.jpg">
		<img alt="" class="img" src="/uploads/613aeeafd446bfba51e3955354f74e.jpg">
	</p>

	<p>Поперечные профили вставляются в прореси несущих, справа друг от друга, а затем сдвигаются до упора по направлению друг к другу легким нажатием. Несущие элементы конструкции обладают надежным замком, который обеспечивает быстрое и крепкое соединение двух профилей. Форма прорези также способствует быстрой сборке.</p>
	<p>
		<img alt="" class="img" src="/uploads/107ce9ed144ec0a621a9875eefded3.jpg">
		<img alt="" class="img" src="/uploads/418c75bbde48fc803dffcad02b9194.jpg">
	</p>
</div>

{% include "__blocks/__calline.html" %}
{% endblock %}