{% extends "__layout.html" %}
{% block content %}
{%- set mlist = [
	{
		text: "<strong>Максимальные размеры</strong> для разметки подвесного потолка. Стрингеры должны быть установлены строго параллельно друг  к другу.",
		img: "0a37f0baee417fad57a2a0549c8ae7.jpg"
	},
	{
		text: "<strong>Варианты крепления стрингеров:</strong> длинным саморезом  с зазором для регулировки высоты,  на пружине  и на пружине  со спицей.",
		img: "e8e08405cd4b30ab380ccf6a7fa6a1.jpg"
	},
	{
		text: "<strong>Установка первой панели</strong> Панель  с незначительным  усилием (нажатие  на край  панели) защелкнуть  на стрингере. Панель предварительно укоротить на  3–5 мм  от реального  размера помещения.",
		img: "4ab09c7d3e47fdb458103350085538.jpg"
	},
	{
		text: "<strong>Первая панель</strong>, установленная  на несущей  системе  из стрингеров.",
		img: "985ad6ead34394afcc609815fd8c28.jpg"
	},
	{
		text: "Произвести замеры расстояний  от первой  панели  до стены  для установки резанной панели.",
		img: "2d8e62e9644776af418ac06a383ba1.jpg"
	},
	{
		text: "На очередной панели отложить эти расстояния  и разметить  панель для резки.",
		img: "46ba9294a3447fa5a40eb6eee8d871.jpg"
	},
	{
		text: "Разрезать панель вдоль по проведенной линии, несколько раз сильно провести ножом по  месту реза.",
		img: "48d34f9aef48c3bb4f481fdf338d24.jpg"
	},
	{
		text: "Чтобы избежать коробления панели, ту часть ее, которая будет отрезана, разрезать ножницами на куски  30 см, и поочередно  отгибая куски  в разные  стороны  (вверх-вниз), отламывать их.",
		img: "69df584dca4e57897f2a01cf5580bf.jpg"
	},
	{
		text: "Углы нижней полки торцевого профиля поджать пассатижами через мягкую прокладку 1,5  см. Верхнюю  полку в местах  сопряжения  со стрингерами  подрезать  и отогнуть вверх.",
		img: "4399c36363465a8f806337d0c9784a.jpg"
	},
	{
		text: "Установить резаную панель  с надетым  на нее  торцевым профилем.  Для дополнительной  фиксации резанной панели в торцевом  профиле можно использовать фрагменты отрезанных частей или сжатый межпанельный профиль.",
		img: "c081a049d14d22854a0269f3676a72.jpg"
	},
	{
		text: "Установка крайней нерезанной панели и торцевого профиля к ней. Подготовка торцевого профиля см. выше. В большом помещении можно установить несколько промежуточных панелей. Последовательно устанавливаются два \"боковых\" торцевых профиля, параллельные стрингерам. Узел сопряжения двух торцевых показан на рисунке вверху.",
		img: "06ce94e5534df3b91122ad757a923a.jpg"
	},
	{
		text: "Регулировка высоты производится передвижением регулировочных пружин  со спицами  или  с помощью  саморезов (глубиной ввинчивания саморезов). Контроль производится водным уровнем.",
		img: "66195c37434a5e82b1501c5b51a5ce.jpg"
	},
	{
		text: "Установка оставшихся панелей. Каждую панель подрезать на 3-5 мм меньше реального размера помещения в данном месте. Вводить панель в два торцевых профиля, раположив ее по диагонали к торцевым, параллельным стрингерам. Выпрямить панель и аккуратным нажатием застегнуть ее на посадочном месте.",
		img: "498a5750f04ff48a4cf98b9aa0da16.jpg"
	},
	{
		text: "Установка оставшихся панелей. Все панели монтируются также, как показано выше, кроме последней (или последних двух панелей). Межпанельные профили устанавливаются по мере монтажа панелей.",
		img: "c3fa3766174eadac79c1417dede189.jpg"
	},
	{
		text: "Установка последней панели в потолке. 1-й способ: при длине панели более 2 м, завести один край панели в торцевой профиль до упора, немного согнуть ее из плоскости вниз и вставить в торцевой профиль у противоположной стены.",
		img: "7ad3fd2e7340c38995366bc24c1490.jpg"
	},
	{
		text: "2-й способ: при меньшей длине панели, она укорачивается на глубину торцевого профиля (15 мм). Далее один край панели до упора заводится в торцевой профиль и обратным движением нужно установить панель и защелкнуть на посадочном месте.",
		img: "0f56bbb8cb4efdaadc8b754d669848.jpg"
	},
	{
		text: "Врезка светильников R50. На панели (или на двух) вырезается окружность ножом по шаблону. После очерчивания окружности ножницами от центра к краям вырезаются сектора. Далее, чтобы избежать коробления панели, каждый из секторов отгибается и отламывается. Чем больше секторов, тем ровнее вырезанный круг.",
		img: "cfb9d6b42d4015b66f1110775328fe.jpg"
	},
	{
		text: "Светильник может устанавливаться и в две панели. Полуокружности в каждой из двух панелей вырезаются таким же способом.",
		img: "f98b3a87be4065988cb6b8bc70fcb3.jpg"
	},
	{
		text: "Установка светильника 600х600. Необходимо обеспечить зазор между панелью и светильником — панель не ставить враспор, она должна свободно располагаться на посадочном месте.",
		img: "519008da464ec983bd70d0b9a3cce2.jpg"
	},
	{
		text: "При установке светильника 600х600 необходима гибка одной из панелей, примыкающих к светильнику (для избежания ее коробления в случае резки).",
		img: "e3d5d2f4bb4b8b85c403c38aae70de.jpg"
	}
] -%}
<div class="bradcrumbs">
	<a href="services" class="bradcrumbs__item">Услуги</a><span class="bradcrumbs__item">Монтаж потолков</span>
</div>
<div class="container typography">
	<h1>Монтаж реечного подвесного потолка</h1>
</div>
<div class="container">
	<ul class="media-list">
	{%- for item in mlist %}
		<li class="media-list__item">
			<img  class="media-list__img img" src="/uploads/{{ item.img }}" alt="">
			<div class="media-list__content well">{{ item.text|safe }}</div>
		</li>
	{% endfor -%}
		
	</ul>
</div>

{% include "__blocks/__calline.html" %}
{% endblock %}