{% extends "__layout.html" %}
{% block content %}

<div class="listing">
	
</div>

<ul class="listing">
		<div class="listing-item">
			<a href="#" class="listing-item__title">Услуги&nbsp;<i class="fa fa-chevron-down"></i></a>
			<div class="listing-item__content">
				<a href="#" class="listing-item__link"><span class="listing-item__lead">Монтаж потолков</span> <i class="fa fa-chevron-right"></i></a>
				<a href="#" class="listing-item__link"><span class="listing-item__lead">Окраска</span> подвесного потолка грильято <i class="fa fa-chevron-right"></i></a>
				<a href="#" class="listing-item__link"><span class="listing-item__lead">Доставка</span> по Москве и СПб <i class="fa fa-chevron-right"></i></a>
			</div>
		</div>
</ul>
{% endblock %}