{% extends "__layout.html" %}
{% block content %}
<div class="bradcrumbs">
	<a href="services" class="bradcrumbs__item">Услуги</a><span class="bradcrumbs__item">Доставка</span>
</div>


<div class="container typography">
	<h1>Доставка по Москве и СПб</h1>
	<div class="well">
		<p>Компания Торговый Дом «Элегия» осуществляет доставку со склада до конечного покупателя: по Санкт-Петербургу и Ленинградской области, Москве и Московской области, а так же предоставляет помощь в организации доставки по всей территории РФ.</p>
	</div>
	<p><i>Доставка по Москве в пределах МКАД - от 2500 руб.<br>
	Доставка по Санкт-Петербургу в пределах КАД: - от 1500 руб.</i></p>

	<h3>Стоимость доставки рассчитывается:</h3>

	<ul>
		<li>В зависимости от веса, габаритов и объема приобретенного Вами товара.</li>
		<li>Такие услуги как разгрузка и подъем товара оплачиваются отдельно от доставки.</li>
		<li>При оплате заказа по безналичному расчёту, Вас попросят предъявить доверенность, заполненную в соответствии с законодательством РФ (Инструкция №99 от 15.05.96 г.).</li>
		<li>Доставка возможна также при наличии на объекте круглой печати.</li>
		<li>При осуществлении доплаты на объекте чек на сумму доплаты будет выдан Вам на базе, с которой была произведена отгрузка товара, или передан водителем при следующей доставке.</li>
	</ul>

	<h2><strong>Способы оплаты:</strong></h2>

	<p>— Оплата наличными в офисе;<br>
	— Безналичный способ оплаты - согласно выставленному счету по Вашему заказу.<br>
	Осуществляется 100% предоплата товара.</p>

	<p>&nbsp;</p>

	<p><strong>Возврат и обмен:</strong></p>
	<p>Возврат и обмен купленного в наших&nbsp;офисах товара, для физических лиц производится строго согласно законодательству Российской Федерации и регламентируется Государственным Кодексом и Законом о защите прав потребителей если указанный товар не подошёл по форме, габаритам, фасону, расцветке, размеру или комплектации, в течение четырнадцати дней, не считая дня его покупки.</p><p>Право на обмен товара имеется у потребителя при соблюдении следующих условий:</p>
	<ul>
		<li>Приобретённый товар не был в употреблении, сохранены его товарный вид, потребительские свойства, пломбы, фабричные ярлыки.</li>
		<li>Имеется товарный чек или кассовый чек либо иной подтверждающий оплату указанного товара документ.</li>
	</ul>
</div>

{% include "__blocks/__calline.html" %}
{% endblock %}