<div class="contact-block">
	<a href="tel: +78007004499" class="contact-block__unit">
		<div class="contact-block__icon">
			<i class="fa fa-phone"></i>
		</div>
		<div class="contact-block__text">
			<span class="contact-block__label">8 (800) 700-44-99</span>
		</div>
	</a>

	<a href="mailto: pro-potolki@mail.ru" class="contact-block__unit">
		<div class="contact-block__icon">
			<i class="fa fa-envelope-o"></i>
		</div>
		<div class="contact-block__text">
			<span class="contact-block__label">pro-potolki@mail.ru</span>
		</div>
	</a>

	<a href="http://vk.com/pro_potolki" class="contact-block__unit">
		<div class="contact-block__icon">
			<i class="fa fa-vk"></i>
		</div>
		<div class="contact-block__text">
			<span class="contact-block__label">vk.com/pro_potolki</span>
		</div>
	</a>

	<a href="/uploads/8cb7a9d75e48e3be37deb2fe732538.pdf" class="contact-block__unit">
		<div class="contact-block__icon">
			<i class="fa fa-file-pdf-o"></i>
		</div>
		<div class="contact-block__text">
			<span class="contact-block__label">Реквизиты: ООО ТД «ЭЛЕГИЯ»</span>
		</div>
	</a>
</div>