<div class="cat-filter">
	<div class="cat-filter__toggler"><i class="fa fa-filter"></i> Фильтр и сортировка</div>
	<form class="cat-filter__content" action="">
		<div class="cat-filter__unit">
			<div class="cat-filter__unit-title">Цена</div>
			<div class="cat-filter__unit-content">
				<div class="cat-filter__price">
					От <input class="cat-filter__input" type="text" name="price0"> до <input  class="cat-filter__input" type="text" name="price1">
				</div>
			</div>
		</div>
		<div class="cat-filter__unit">
			<div class="cat-filter__unit-title">Бренд</div>
			<div class="cat-filter__unit-content">
				<label class="cat-filter__checkbox">
					<input type="checkbox" value="1" name="brand">
					<span class="cat-filter__label">Люмсвет</span>
				</label>
				<label class="cat-filter__checkbox">
					<input type="checkbox" value="1" name="brand">
					<span class="cat-filter__label">CSVT</span>
				</label>
				<label class="cat-filter__checkbox">
					<input type="checkbox" value="1" name="brand">
					<span class="cat-filter__label">Lezard</span>
				</label>
				<label class="cat-filter__checkbox">
					<input type="checkbox" value="1" name="brand">
					<span class="cat-filter__label">ASD</span>
				</label>
				<label class="cat-filter__checkbox">
					<input type="checkbox" value="1" name="brand">
					<span class="cat-filter__label">Varton</span>
				</label>
			</div>
		</div>

		<div class="cat-filter__unit">
			<div class="cat-filter__unit-title">Мощность (ватт)</div>
			<div class="cat-filter__unit-content">
				<label class="cat-filter__checkbox">
					<input type="checkbox" value="1" name="pwr">
					<span class="cat-filter__label">6-20</span>
				</label>
				<label class="cat-filter__checkbox">
					<input type="checkbox" value="1" name="pwr">
					<span class="cat-filter__label">21-40</span>
				</label>
				<label class="cat-filter__checkbox">
					<input type="checkbox" value="1" name="pwr">
					<span class="cat-filter__label">41-80</span>
				</label>
			</div>
		</div>

		<div class="cat-filter__unit">
			<div class="cat-filter__unit-title">Тип рассеивателя</div>
			<div class="cat-filter__unit-content">
				<label class="cat-filter__checkbox">
					<input type="checkbox" value="1" name="actiontype">
					<span class="cat-filter__label">Призма</span>
				</label>
				<label class="cat-filter__checkbox">
					<input type="checkbox" value="1" name="actiontype">
					<span class="cat-filter__label">Опал</span>
				</label>
				<label class="cat-filter__checkbox">
					<input type="checkbox" value="1" name="actiontype">
					<span class="cat-filter__label">колотый лед</span>
				</label>
			</div>
		</div>

		<div class="cat-filter__unit">
			<div class="cat-filter__unit-title">Световой поток (Лм)</div>
			<div class="cat-filter__unit-content">
				<label class="cat-filter__checkbox">
					<input type="checkbox" value="1" name="light">
					<span class="cat-filter__label">0-3000</span>
				</label>
				<label class="cat-filter__checkbox">
					<input type="checkbox" value="1" name="light">
					<span class="cat-filter__label">3001-6000</span>
				</label>
				<label class="cat-filter__checkbox">
					<input type="checkbox" value="1" name="light">
					<span class="cat-filter__label">6001-10000</span>
				</label>
			</div>
		</div>

		<div class="cat-filter__unit">
			<div class="cat-filter__unit-title">Сортировка</div>
			<div class="cat-filter__unit-content">
				<label class="cat-filter__checkbox">
					<input type="radio" value="1" name="sort" checked>
					<span class="cat-filter__label">Сначала дорогие</span>
				</label>
				<label class="cat-filter__checkbox">
					<input type="radio" value="0" name="sort">
					<span class="cat-filter__label">Сначала дешевые</span>
				</label>
			</div>
		</div>
		<div class="cat-filter__row">
			<div class="cat-filter__col">
				<a href="#" class="btn btn--block">Применить фильтр</a>
			</div>
			<div class="cat-filter__col">
				<a href="#" class="btn btn--gray btn--block">Сбросить фильтр</a>
			</div>
		</div>

		
	</form>
</div> 