<header class="header">
	<!--div class="header__tel">
		<a href="tel: +78007004499" class="header__tel-link"><i class="fa fa-phone"></i> 8-800-700-44-99</a>
	</div-->
	<div class="header-top">
		<div class="header-top__col">
			<a href="/"><img src="images/logo.png" width="150" alt="{{ base.companyName }}"></a>
		</div>
		<div class="header-top__col">
			<i class="fa fa-bars"></i>
		</div>
	</div>	
	<div class="header-anchors">
		<a href="/" class="header-anchors__item">Товары</a>
		<a href="/services" class="header-anchors__item">Услуги</a>
		<a href="#" class="header-anchors__item">Контакты</a>
	</div>
	
</header>